.bottomBar {
    z-index: 9001;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 4rem;

    display: flex;

    >[selected] {
        path {
            stroke: var(--green)
        }
    }

    >button, >div, >a {
        margin: 0;
        padding: 0;

        position: relative;
        
        flex: 1;
        height: 100%;

        background-color: transparent !important;
        border-radius: 0;
        border: none;
        outline: none;

        display: grid;
        place-items: center;

        #mobileAddButton {
            margin: 0;
            padding: 0;

            width: min(20vw, 4rem);
            height: min(20vw, 4rem);

            background-color: var(--green);
            clip-path: var(--hexagon-path);

            transform: translateY(-25%);

            display: grid;
            place-items: center;

            svg {
                width: 30%;
            }
        }
    }

    >button, >a {
        display: grid;
        place-items: center;

        svg {
            height: 50%;
        }

        .profilePicture {
            aspect-ratio: 1 / 1;
            
            height: 50%;

            background-color: var(--white);
            background-size: cover;
            clip-path: var(--hexagon-path);
        }
    }

    background-color: var(--black-50);
    backdrop-filter: blur(.5rem) brightness(50%);
}

#mobileFeedSelector {
    z-index: 10;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;

    position: fixed;

    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--black-50);
    backdrop-filter: blur(.4rem) brightness(50%);
    border-radius: .5rem;

    button {
        margin: 0;
        padding: 0;

        white-space: nowrap;
    }

    button[selected] {
        color: var(--green);
        text-decoration: underline;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
}

#mobileMyRooms, #mobileAddMenu {
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    flex: unset;

    display: flex;
    flex-direction: column;

    animation: slideInFromLeft .25s cubic-bezier(0, 0, 0, .9);

    background-color: var(--black);
}

#mobileAddMenu {
    >button {
        padding: .5rem 1rem;
        margin: .5rem 1rem;

        width: calc(100% - 2rem);

        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
            margin-right: 1rem;

            height: 1rem;
        }
    }

    >button:first-child {
        margin-top: 1rem;
    }

    .newRoom {
        background-color: var(--gray-25);
    }

    .newPost {
        background-color: var(--green-25);
    }
}

#mobileNotificationsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .notification {

        margin: .5rem;

        padding-bottom: 1rem;

        width: calc(100% - 1rem);

        display: flex;
        flex-direction: column;

        align-items: center;
        gap: .5rem;

        border-bottom: 1px solid var(--gray-25);

        .topBar {
            
            width: 100%;

            display: flex;
            justify-content: space-between;
            
            h6 {
                font-weight: 400;
                font-size: .75rem;

                color: var(--gray);
            }

            svg {
                height: .75rem;

                background-color: transparent;

                cursor: pointer;
            }       
        }

        a {
            text-align: center;
            color: var(--white);
        }

        button {
            background-color: var(--gray-125);
            border-radius: .25rem;
        }
    }
}

@media only screen and (min-width: calc(36rem + 700px)) {
    .mobile {
        display: none !important;
    }
}


@media only screen and (max-width: calc(36rem + 700px)) {
    :root {
        font-size: .75rem;
    }

    .notMobile {
        display: none !important;
    }

    #mainContent {
        padding-top: 8rem;

        width: calc(100vw - 2rem);
    }

    .childPosts {
        width: 100% !important;
    }

    .roomHeading {

        margin-bottom: 5rem;

        .roomNameContainer, .roomDescriptionContainer {
            button {
                width: 2rem;
                height: 2rem;
        
                svg {
                    height: 1rem;
                }
            }
        }
        

        .bottomButtons {

            button {
                padding: .2rem .4rem !important;
            }

            .updateColorContainer {
                padding: .4rem;

                input {
                    height: 1rem;
                    width: 2rem;
                    border-radius: .5rem;

                    outline: none;
                    border: none;
                }
            }

        }
    }

    .postSettings, .roomSettings {
        flex-direction: column;

        >div {
            gap: .25rem;
        }
    }

    .modalWindow {
        padding: 0 !important;
        width: calc(100% - 4rem);
        max-width: unset !important;
    }

    #modal, #manageRoomUsersModal, #manageFollowsModal {
        z-index: 10000;
    }

    #manageRoomUsersModal, #manageFollowsModal {
        .modalWindow {
            width: calc(100vw - 2rem);
            height: calc(100% - 16rem);
            max-width: unset !important;

            .usersContainer {
                max-height: 50vh !important;

                min-width: unset !important;
                width: 100%;
            }

            .user {
    
            }
        }
    }

    @keyframes bellBlink {
        1% {
            stroke: var(--green);
            transform: translateY(-.1rem);
        }
        5% {
            stroke: var(--gray);
            transform: translateY(0);
        }
        6% {
            stroke: var(--green);
            transform: translateY(-.1rem);

        }
        10% {
            stroke: gray;
            transform: translateY(0);
        }
    }

    #mobileNotificationsButton:not([selected])[blink] path {
        animation: bellBlink 5s linear infinite both;
    }
}